<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Is it a bird?</th>
    </tr>
  </thead>
  <tbody>
    <% @images.zip(@results) do |image, result| %>
      <tr>
        <td>
          <% if image.path.present? %>
            <%= image_tag image.url, height: 100 %>
          <% end %>
        </td>
        <td>
          <%= result ? "Yes" : "No" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="<%=demo_index_path %>" class="transparent_hover">
  <button class="link_button"> Try Again </button>
</a>
